/*----------------------------------------------------------------------------*\
  # GLOBAL
\*----------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: helvetica, verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  background: #ececec;
}

/*----------------------------------------------------------------------------*\
  # COMPONENTS
\*----------------------------------------------------------------------------*/

/**
 *  Header
 */

.header {
  width: 100%;
  height: 56px;
  padding: 16px 16px 0 16px;
  background: #fff;
  position: fixed;
  box-shadow: 0 4px 5px 0     rgba(200, 200, 200, 0.14),
              0 2px 9px 1px   rgba(200, 200, 200, 0.12),
              0 4px 2px -2px  rgba(200, 200, 200, 0.2);
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  z-index: 1000;
}

.header__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.headerButton {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  padding: 0;
  overflow: hidden;
  text-indent: -3000px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #fff;
}

/* Hamburger menu icon */

#menuButton span {
  display: block;
  position: absolute;
  top: 11px;
  left: 4px;
  right: 4px;
  height: 2px;
  background: #000;
  will-change: background;
  -webkit-transition: background 0s 0.2s;
          transition: background 0s 0.2s;
}

#menuButton span::before,
#menuButton span::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
  -webkit-transition-duration: 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s;
}

#menuButton span::before {
  top: -5px;
  will-change: top, bottom;
  -webkit-transition-property: top, transform;
          transition-property: top, transform;
}

#menuButton span::after {
  bottom: -5px;
  will-change: bottom, transform;
  -webkit-transition-property: bottom, transform;
          transition-property: bottom, transform;
}



#menuButton.active span {
  background: none;
}

#menuButton.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menuButton.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#menuButton.active span::before,
#menuButton.active span::after {
  -webkit-transition-delay: 0s, 0.2s;
          transition-delay: 0s, 0.2s;
}

/**
 *  Sidebar
 */

.sidebar-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  will-change: opacity, transform;
  -webkit-transition: opacity 0.3s, width 0.3s;
          transition: opacity 0.3s, width 0.3s;
  z-index: 500;
}

.sidebar-overlay.active {
  opacity: 1;
  pointer-events: auto;
  width: 80%;
}

.sidebar {
  width: 20%;
  height: 100%;
  position: absolute;
  right: -20%;
  top: 0;
  box-shadow: -4px 0 5px 0     rgba(200, 200, 200, 0.14),
              -2px 0 9px 1px   rgba(200, 200, 200, 0.12),
              -4px 0 2px -2px  rgba(200, 200, 200, 0.2);
  background: #fff;
  will-change: transform;
  -webkit-transition: transform 0.3s;
          transition: transform 0.3s;
  z-index: 800;
}

.sidebar.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

/**
 *  Main
 */

.main {
  padding-top: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/**
 *  Card
 */

.card {
  margin: 8px auto;
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 5px 0     rgba(200, 200, 200, 0.14),
              0 2px 9px 1px   rgba(200, 200, 200, 0.12),
              0 4px 2px -2px  rgba(200, 200, 200, 0.2);
}
